#cb_table, #table_prediction {

  background-color: white; 
  width: 100%; 
  white-space: nowrap;
  font-family: "Calibri";
  text-align: right;

}

#table_calendar_events {
  
  background-color: white; 
  width: 100%; 
  white-space: nowrap;
  font-family: "Calibri";
  
}

#table_calendar_events th, #table_calendar_events td {
  
  text-align: right
  
}

#table_calendar_events th:nth-child(8), #table_calendar_events td:nth-child(8) {
  
  text-align: left
  
} 